{% block table %}
    {% if table.displayMenu %}
        {% include "@Darkanakin41Table/foundation/part/_top-bar.html.twig" %}
    {% endif %}
    {% set items = table.paginator %}
    {% block content %}
        {% if items|length > 0 %}
            <table class="{{ table.tableClasses|join(' ') }}">
                <thead>
                <tr>
                    {% for fieldname in table.fieldsDisplayed %}
                        {% set field = table.field(fieldname) %}
                        <th class="{{ field.classes|join(' ') }}">
                            {% if field.sortable %}
                                {% if field.jointure is not null %}
                                    {{ knp_pagination_sortable(items, field.label|trans|raw, field.dql(table.alias)) }}
                                {% else %}
                                    {{ knp_pagination_sortable(items, field.label|trans|raw, table.alias ~ "." ~ field.field) }}
                                {% endif %}
                            {% else %}
                                {{ field.label|trans|raw }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        {% for fieldname in table.fieldsDisplayed %}
                            {% set field = table.field(fieldname) %}
                            <td class="{{ field.classes|join(' ') }}">
                                {{ darkanakin41_table_render_field(table, field, item) }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                {% if  table.displayPagination or table.displayTotalItems %}
                    <tfoot>
                    <tr>
                        <td class="text-left" colspan="{{ table.fieldsDisplayed|length / 2 }}">
                            {{ block('pagination') }}
                        </td>
                        <td class="text-right" colspan="{{ (table.fieldsDisplayed|length / 2) + (table.fieldsDisplayed|length % 2) }}">
                            {{ block('total_items') }}
                        </td>
                    </tr>
                    </tfoot>
                {% endif %}
            </table>
        {% else %}
            {{ block('no_result') }}
        {% endif %}
    {% endblock content %}
    {% if table.displayMenu %}
        <div class="reveal {% if table.fields|length > 8 %}large{% endif %}" id="{{ table.alias }}-filters" data-reveal>
            {% include "@Darkanakin41Table/foundation/part/_filters.html.twig" with {'table': table, 'app': app} %}
        </div>
        {% if table.exportEnabled %}
            <div class="reveal {% if table.fields|length > 8 %}large{% endif %}" id="{{ table.alias }}-export" data-reveal>
                {% include "@Darkanakin41Table/foundation/part/_export.html.twig" with {'table': table, 'app': app} %}
            </div>
        {% endif %}
    {% endif %}
{% endblock table %}

{% block no_result %}
    <div class="callout primary">
        <h4>{{ 'callout.no_result.titre'|trans }}</h4>
        <p>
            {{ 'callout.no_result.body'|trans|raw }}
        </p>
    </div>
{% endblock %}

{% block pagination %}
    {% if table.displayPagination %}
        {{ knp_pagination_render(items) }}
    {% endif %}
{% endblock %}
{% block total_items %}
    {% if table.displayTotalItems %}
        Total : {{ items.totalItemCount }}
    {% endif %}
{% endblock %}
